* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title{
	padding:20px;
}
.headline{
	background-image: url(img/mv.jpg);
	background-position: bottom;
	background-size: cover;
	height:400px;
	width:100%;
}
main{
	margin:50px auto;
	width:840px;
}
.content{
	border-bottom: 1px solid black;
	padding-bottom:30px;
	margin-bottom:30px;
}
